/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arsenal SC", serif; 

}

body {
    font-family: "Arsenal SC", serif; 
    color: #f5f5f5;
    background-image: linear-gradient(to right, rgb(169, 215, 228), rgb(239, 181, 223));

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.question-container {
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.question {
    margin-bottom: 1.5rem;
    text-align: left;
}

.question label {
    font-weight: 500;

}

label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #f5f5f5;


}

input, select {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    color: #bbb;
    transition: 0.3s;

}

input::placeholder {
    color: #bbb;
}

input:focus, select:focus {
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 1rem;
    background-image: linear-gradient(to right, rgb(169, 215, 228), rgb(239, 181, 223));

}


@media (max-width: 500px) {
    .question-container {
        padding: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }
}

